{% extends 'seller-header.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body class="animsition">
	
	<!-- Header -->
	<header class="header-v4">
	</header>
		

	<!-- Product Detail -->
	<section class="sec-product-detail bg0 p-t-65 p-b-60">
		<div class="container">
			<div class="row">
				<div class="col-md-6 col-lg-7 p-b-30">
					<div class="p-l-25 p-r-30 p-lr-0-lg">
						<div class="wrap-slick3 flex-sb flex-w">
							<div class="wrap-slick3-dots"></div>
							<div class="wrap-slick3-arrows flex-sb-m flex-w"></div>

							<div class="slick3 gallery-lb">
								<div class="item-slick3" data-thumb="{{product.product_image.url}}">
									<div class="wrap-pic-w pos-relative">
										<img src="{{product.product_image.url}}" alt="IMG-PRODUCT">
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
					
				<div class="col-md-6 col-lg-5 p-b-30">
					<div class="p-r-50 p-t-5 p-lr-0-lg">
						<h4 class="mtext-105 cl2 js-name-detail p-b-14">
							{{product.product_name}}
						</h4>

						<span class="mtext-106 cl2">
							{{product.product_price}}
						</span>

						<p class="stext-102 cl3 p-t-23">
							{{product.product_desc}}
						</p>
						<br><br>
						<span class="mtext-106 cl2">
							<a href="{% url 'seller-edit-product' pk=product.pk %}"><input type="button" class="btn btn-primary" value="Edit">
						</span>

						<span class="mtext-106 cl2">
							<a href="{% url 'seller-delete-product' pk=product.pk %}"><input type="button" class="btn btn-danger" value="Delete">
						</span>
					</div>
				</div>
			</div>
		</div>
	</section>

</body>
</html>
{% endblock %}